<div #reading class="block" [style.fontSize]="size * 0.16 + 'px'" [style.lineHeight]="size + 'px'" [style.width.px]="size" [style.height.px]="size">
    <u class="affix">
        <span>{{prepend}}</span>
    </u>
    <span>{{value | number}}</span>
    <u *ngIf="append" class="affix">
        <span>{{append}}</span>
    </u>
</div>
<div class="label" [style.fontSize]="size / 10 + 'px'" [style.lineHeight]="(5 * size / 14) + size + 'px'" [style.width.px]="size" [style.height.px]="size">
    <span>{{label}}</span>
</div>
<div *ngIf="type === 'arch'" class="min" [style.fontSize]="size / 9 + 'px'" [style.lineHeight]="(6 * size / 7) + size + 'px'" [style.width.px]="size" [style.height.px]="size">{{min}}</div>
<div *ngIf="type === 'arch'" class="max" [style.fontSize]="size / 9 + 'px'" [style.lineHeight]="(6 * size / 7) + size + 'px'" [style.width.px]="size" [style.height.px]="size">{{max}}</div>
<canvas #canvas [width]="size" [height]="size"></canvas>